Projects/XSD/V1/Confinement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:xsL="http://www.w3.org/2001/XMLSchema">

  <!-- This file contains all the things Riverscapes projects have in common -->
  <!-- IT MUST BE AN ABSOLUTE URI. You can make it temporarily reference a local path but don't commit it that way. -->
  <xs:include schemaLocation="http://xml.riverscapes.xyz/Projects/XSD/V1/RiverscapesProject.xsd" />

  <xs:element name="Project" type="ProjectType" />


  <!-- Top Leve item: Here's where the overall project gets extended -->
  <xs:complexType name="ProjectType" mixed="true">
    <xs:complexContent>
      <xs:extension base="ProjectBaseType">
        <xs:sequence>
        <xs:element type="RealizationsType" name="Realizations" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="RealizationsType">
    <xs:choice maxOccurs="unbounded">
      <xs:element type="ConfinementType" name="Confinement" maxOccurs="unbounded" minOccurs="0" />
    </xs:choice>
  </xs:complexType>

  <!-- =========================================================================
  
  Project: Confinement
  
  ============================================================================== -->

  <xs:complexType name="ConfinementType" mixed="true">
    <xs:complexContent>
      <xs:extension base="RealizationType">
        <xs:sequence>
          <xs:element type="ConfinementInputType" name="Inputs" minOccurs="0" maxOccurs="1" />
          <xs:element type="ConfinementOutputsType" name="Outputs" minOccurs="0" maxOccurs="1" />
          <xs:element type="ConfinementAnalysesType" name="Analyses" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ConfinementInputType">
    <xs:sequence>
      <xs:element type="VectorType" name="ValleyBottom" />
      <xs:element type="VectorType" name="ChannelPolygon" />
      <xs:element type="VectorType" name="StreamNetwork" />
      <xs:element type="VectorType" name="SegmentedNetwork" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ConfinementAnalysesType">
    <xs:sequence>
      <xs:element type="ConfinementAnalysisType" name="MovingWindow" maxOccurs="unbounded" />
      <xs:element type="ConfinementAnalysisType" name="FixedSegments" maxOccurs="unbounded" />
      <xs:element type="ConfinementAnalysisType" name="CustomSegments" minOccurs="0" maxOccurs="unbounded" />
      <xs:element type="ConfinementAnalysisType" name="ConfinementBySegments" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ConfinementAnalysisType">
    <xs:sequence>
      <xs:element type="xs:string" name="Name" />
      <xs:element type="ParametersType" name="Parameters" minOccurs="0" />
      <xs:element type="ConfinementAnalysisOutputsType" name="Outputs" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ConfinementOutputsType">
    <xs:sequence>
      <xs:element type="VectorType" name="ConfiningMargins" minOccurs="0" />
      <xs:element type="VectorType" name="RawConfiningState" minOccurs="0" />
      <xs:element type="SegmentsType" name="FixedSegments" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ConfinementAnalysisOutputsType">
    <xs:sequence>
      <xs:element type="VectorType" name="Vector" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SegmentsType">
    <xs:sequence>
      <xs:element type="ConfinementSegmentType" name="Segment" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ConfinementSegmentType">
    <xs:sequence>
      <xs:element type="xs:string" name="Name" />
      <xs:element type="VectorType" name="ConfinementSegments" />
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" />
  </xs:complexType>


</xs:schema>