Projects/XSD/V1/FHM.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:xsL="http://www.w3.org/2001/XMLSchema">

  <!-- This file contains all the things Riverscapes projects have in common -->
  <!-- IT MUST BE AN ABSOLUTE URI. You can make it temporarily reference a local path but don't commit it that way. -->  
  <xs:include schemaLocation="http://xml.riverscapes.net/Projects/XSD/V1/RiverscapesProject.xsd" />
  <!-- <xs:include schemaLocation="./RiverscapesProject.xsd" /> -->

  <xs:element name="Project" type="ProjectType" />


  <!-- Top Leve item: Here's where the overall project gets extended -->
  <xs:complexType name="ProjectType" mixed="true">
    <xs:complexContent>
      <xs:extension base="ProjectBaseType">
        <xs:sequence>
        <xs:element type="RealizationsType" name="Realizations" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="RealizationsType">
    <xs:choice maxOccurs="unbounded">
      <xs:element type="FHMType" name="FHM" maxOccurs="unbounded" minOccurs="0" />
    </xs:choice>
  </xs:complexType>

  <!-- =========================================================================
  
  Project: FHM
  
  ============================================================================== -->

  <xs:complexType name="FHMType" mixed="true">
    <xs:complexContent>
      <xs:extension base="RealizationType">
        <xs:sequence>
          <xs:element type="DataSetContainerType" name="Inputs" minOccurs="0" />
          <xs:element type="FHMAnalysesType" name="Analyses" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- FHM Analyses -->
  <xs:complexType name="FHMAnalysesType">
    <xs:sequence>
      <xs:element type="FHMAnalysisType" name="Analysis" maxOccurs="unbounded" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FHMAnalysisType">
    <xs:sequence>
      <xs:element type="xs:string" name="Name" />
      <xs:element type="FHMModelsType" name="Models" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FHMModelsType">
    <xs:sequence>
      <xs:element type="FHMHSIAnalysisType" name="FIS" />
      <xs:element type="FHMHSIAnalysisType" name="HSI" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FHMHSIAnalysisType">
    <xs:sequence>
      <xs:element type="xs:string" name="FISFile" minOccurs="0" />
      <xs:element type="MetaDataType" name="MetaData" />
      <xs:element type="DataSetContainerType" name="Outputs" />
      <xs:element type="MetricsType" name="Metrics" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>