Projects/XSD/V1/GCD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:xsL="http://www.w3.org/2001/XMLSchema">

  <!-- This file contains all the things Riverscapes projects have in common -->
  <xs:include schemaLocation="RiverscapesProject.xsd" />

  <xs:element name="Project" type="ProjectType" />


  <!-- Top Leve item: Here's where the overall project gets extended -->
  <xs:complexType name="ProjectType" mixed="true">
    <xs:complexContent>
      <xs:extension base="ProjectBaseType">
        <xs:sequence>
        <xs:element type="RealizationsType" name="Realizations" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="RealizationsType">
    <xs:choice maxOccurs="unbounded">
      <xs:element type="DoDType" name="DoD" maxOccurs="1" minOccurs="0" />
    </xs:choice>
  </xs:complexType>

  <!-- =========================================================================
  
  Project: GCD
  
  ============================================================================== -->

  <xs:complexType name="DoDType" mixed="true">
    <xs:complexContent>
      <xs:extension base="RealizationType">
        <xs:sequence>
          <xs:element type="GCDInputType" name="Inputs" minOccurs="0" />
          <xs:element type="GCDAnalysesType" name="Analyses" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="GCDInputType">
    <xs:sequence>
      <xs:element type="RasterType" name="Topography" />
      <xs:element type="RasterType" name="DrainageNetworks" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GCDAnalysesType">
    <xs:sequence>
      <xs:element type="xs:string" name="Name" />
      <xs:element type="DataSetContainerType" name="Outputs" />
    </xs:sequence>
  </xs:complexType>



</xs:schema>