Projects/XSD/V1/GNAT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:xsL="http://www.w3.org/2001/XMLSchema">

  <!-- This file contains all the things Riverscapes projects have in common -->
  <!-- IT MUST BE AN ABSOLUTE URI. You can make it temporarily reference a local path but don't commit it that way. -->
  <xs:include schemaLocation="http://xml.riverscapes.xyz/Projects/XSD/V1/RiverscapesProject.xsd" />

  <xs:element name="Project" type="ProjectType" />


  <!-- Top Leve item: Here's where the overall project gets extended -->
  <xs:complexType name="ProjectType" mixed="true">
    <xs:complexContent>
      <xs:extension base="ProjectBaseType">
        <xs:sequence>
        <xs:element type="RealizationsType" name="Realizations" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="RealizationsType">
    <xs:choice maxOccurs="unbounded">
      <xs:element type="GNATType" name="GNAT" maxOccurs="unbounded" minOccurs="0" />
    </xs:choice>
  </xs:complexType>

  <!-- =========================================================================
  
  Project: GNAT
  
  ============================================================================== -->
  <xs:complexType name="GNATType" mixed="true">
    <xs:complexContent>
      <xs:extension base="RealizationType">
        <xs:sequence>
          <xs:element type="DataSetContainerType" name="Inputs" minOccurs="0" />
          <xs:element type="DataSetContainerType" name="Intermediates" minOccurs="0" />
          <xs:element type="GNATOutputsType" name="Outputs" minOccurs="0" />
          <xs:element type="GNATAnalysesType" name="Analyses" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="GNATOutputsType">
    <xs:sequence>
      <xs:element type="GeopackageType" name="Geopackage" minOccurs="0"/>
      <xs:element type="VectorType" name="GNATNetwork" minOccurs="0"/>
      <xs:element type="VectorType" name="GNATNetworkTable" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GNATAnalysesType">
    <xs:sequence>
      <xs:element type="GNATAnalysisType" name="SegmentedNetwork" />
      <xs:element type="GNATAnalysisType" name="BranchNetwork" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GNATAnalysisType">
    <xs:sequence>
      <xs:element type="xs:string" name="Name" />
      <xs:element type="MetaDataType" name="MetaData" />
      <xs:element type="ParametersType" name="Params" />
      <xs:element type="GNATOutputsType" name="Outputs" />
    </xs:sequence>
  </xs:complexType>


</xs:schema>