Projects/XSD/V1/GPP.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:xsL="http://www.w3.org/2001/XMLSchema">

  <!-- This file contains all the things Riverscapes projects have in common -->
  <!-- IT MUST BE AN ABSOLUTE URI. You can make it temporarily reference a local path but don't commit it that way. -->
  <xs:include schemaLocation="http://xml.riverscapes.net/Projects/XSD/V1/RiverscapesProject.xsd" />

  <xs:element name="Project" type="ProjectType" />


  <!-- Top Leve item: Here's where the overall project gets extended -->
  <xs:complexType name="ProjectType" mixed="true">
    <xs:complexContent>
      <xs:extension base="ProjectBaseType">
        <xs:sequence>
        <xs:element type="RealizationsType" name="Realizations" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="RealizationsType">
    <xs:choice maxOccurs="unbounded">
      <xs:element type="GPPType" name="GPP" maxOccurs="unbounded" minOccurs="0" />
    </xs:choice>
  </xs:complexType>

  <!-- =========================================================================
  
  Project: GPP
  
  ============================================================================== -->
  <xs:complexType name="GPPType" mixed="true">
    <xs:complexContent>
      <xs:extension base="RealizationType">
        <xs:sequence>
          <xs:element type="GPPParametersType" name="GPPParameters" minOccurs="0" />
          <xs:element type="GPPInputsType" name="Inputs" minOccurs="0" />
          <xs:element type="GPPOutputsType" name="Outputs" minOccurs="0" />
          <xs:element type="AnalysesType" name="Analyses" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GPPOutputsType">
    <xs:sequence>
      <xs:element type="VectorType" name="GNATNetwork" />
      <xs:element type="VectorType" name="GNATNetworkTable" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GPPParametersType">
    <xs:all>
      <xs:element type="ParametersType" name="CRB" />
      <xs:element type="ParametersType" name="Watershed" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="GPPInputsType">
    <xs:choice maxOccurs="unbounded">
      <xs:element type="GPPTemperatureModelType" name="TemperatureModel" />
      <xs:element type="VectorType" name="Vector" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="GPPTemperatureModelType" mixed="true">
    <xs:complexContent>
      <xs:extension base="VectorType">
        <xs:sequence>
          <xs:element type="VectorType" name="Vector" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

</xs:schema>