Projects/XSD/V1/GrainSize.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:xsL="http://www.w3.org/2001/XMLSchema">

  <!-- This file contains all the things Riverscapes projects have in common -->
  <xs:include schemaLocation="RiverscapesProject.xsd" />

  <xs:element name="Project" type="ProjectType" />


  <!-- Top Leve item: Here's where the overall project gets extended -->
  <xs:complexType name="ProjectType" mixed="true">
    <xs:complexContent>
      <xs:extension base="ProjectBaseType">
        <xs:sequence>
        <xs:element type="RealizationsType" name="Realizations" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="RealizationsType">
    <xs:choice maxOccurs="unbounded">
      <xs:element type="GrainSizeType" name="GrainSize" maxOccurs="unbounded" minOccurs="0" />
    </xs:choice>
  </xs:complexType>


  <!-- =========================================================================
  
  Project: GrainSize
  
  ============================================================================== -->
  <xs:complexType name="GrainSizeType" mixed="true">
    <xs:complexContent>
      <xs:extension base="RealizationType">
        <xs:sequence>
          <xs:element type="GrainSizeInputsType" name="Inputs" minOccurs="0" />
          <xs:element type="AnalysesType" name="Analyses" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="GrainSizeInputsType">
    <xs:choice maxOccurs="unbounded">
      <xs:element type="DEMType" name="DEM" />
      <xs:element type="VectorType" name="StreamNetwork" />
      <xs:element type="VectorType" name="Precipitation" />
      <xs:element type="VectorType" name="OtherValues" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="GrainSizeDEMsType">
    <xs:choice maxOccurs="unbounded">
      <xs:element type="DEMType" name="DEM" />
    </xs:choice>
  </xs:complexType>


</xs:schema>