Projects/XSD/V1/GUT.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsL="http://www.w3.org/2001/XMLSchema">

  <!-- This file contains all the things Riverscapes projects have in common -->
  <!-- IT MUST BE AN ABSOLUTE URI. You can make it temporarily reference a local path but don't commit it that way. -->
  <xs:include schemaLocation="http://xml.riverscapes.xyz/Projects/XSD/V1/RiverscapesProject.xsd" />

  <xs:element name="Project" type="ProjectType" />


  <!-- Top Leve item: Here's where the overall project gets extended -->
  <xs:complexType name="ProjectType" mixed="true">
    <xs:complexContent>
      <xs:extension base="ProjectBaseType">
        <xs:sequence>
          <xs:element type="RealizationsType" name="Realizations" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="RealizationsType">
    <xs:choice maxOccurs="unbounded">
      <xs:element type="GUTType" name="GUT" maxOccurs="unbounded" minOccurs="0" />
    </xs:choice>
  </xs:complexType>


  <!-- =========================================================================
  
  Project: GUT
  
  ============================================================================== -->
  <xs:complexType name="GUTType" mixed="true">
    <xs:complexContent>
      <xs:extension base="RealizationType">
        <xs:sequence>
          <xs:element type="GUTDataSetContainerType" name="Inputs" minOccurs="0" />
          <xs:element type="GUTDataSetContainerType" name="EvidenceLayers" minOccurs="0" />
          <xs:element type="GUTAnalysesType" name="Analyses" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="GUTDataSetContainerType">
    <xs:complexContent>
      <xs:extension base="DataSetContainerType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element type="RasterType" name="Raster" />
          <xs:element type="RasterType" name="Vector" />
          <xs:element type="VectorType" name="Centerline" />
          <xs:element type="VectorType" name="CrossSections" />
          <xs:element type="VectorType" name="Extent" />
          <xs:element type="VectorType" name="Islands" />
          <xs:element type="VectorType" name="ChannelUnits" />
          <xs:element type="VectorType" name="Thalweg" />
          <xs:element type="RasterType" name="DEM" />
          <xs:element type="RasterType" name="Slope" />
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!--Realizations Must have an Analyses-->
  <xs:complexType name="GUTAnalysesType" mixed="true">
    <xs:sequence>
      <xs:element type="GUTAnalysisType" name="Analysis" maxOccurs="unbounded" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <!--Realizations Must have an Analysis-->
  <xs:complexType name="GUTAnalysisType" mixed="true">
    <xs:sequence>
      <xs:element type="xs:string" name="Name" minOccurs="0" />
      <xs:element type="MetricsType" name="Metrics" minOccurs="0" />
      <xs:element type="SimpleFileType" name="GUTConfig" />
      <xs:element type="GUTOutputsType" name="Outputs" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GUTOutputsType">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="VectorType" name="Tier1" />
      <xs:element type="VectorType" name="Tier2" />
      <xs:element type="VectorType" name="Tier3" />
    </xs:choice>
  </xs:complexType>


</xs:schema>