Projects/XSD/V1/GUT_prelim.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:xsL="http://www.w3.org/2001/XMLSchema">

  <!-- This file contains all the things Riverscapes projects have in common -->
  <!-- IT MUST BE AN ABSOLUTE URI. You can make it temporarily reference a local path but don't commit it that way. -->
  <xs:include schemaLocation="http://xml.riverscapes.xyz/Projects/XSD/V1/RiverscapesProject.xsd" />

  <xs:element name="Project" type="ProjectType" />


  <!-- Top Leve item: Here's where the overall project gets extended -->
  <xs:complexType name="ProjectType" mixed="true">
    <xs:complexContent>
      <xs:extension base="ProjectBaseType">
        <xs:sequence>
        <xs:element type="RealizationsType" name="Realizations" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="RealizationsType">
    <xs:choice maxOccurs="unbounded">
      <xs:element type="GUTType" name="GUT" maxOccurs="unbounded" minOccurs="0" />
    </xs:choice>
  </xs:complexType>



  <!-- =========================================================================
  
  Project: GUT
  
  ============================================================================== -->
  <xs:complexType name="GUTType" mixed="true">
    <xs:complexContent>
      <xs:extension base="RealizationType">
        <xs:sequence>
          <xs:element type="DataSetContainerType" name="Inputs" minOccurs="0" />
          <xs:element type="GUTAnalysesType" name="Analyses" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GUTAnalysesType">
    <xs:sequence>
      <xs:element type="GUTEvidenceLayersType" name="EvidenceLayers" />
      <xs:element type="GUTMetricsType" name="Metrics" />
      <xs:element type="GUTOutputsContainerType" name="Outputs" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GUTEvidenceLayersType">
    <xs:sequence>
      <xs:element type="RasterType" name="Raster" />
      <xs:element type="VectorType" name="Vector" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GUTOutputsContainerType">
    <xs:sequence>
      <xs:element type="GUTOutputsType" name="InChannel" />
      <xs:element type="GUTOutputsType" name="OutChannel" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GUTMetricsType">
    <xs:sequence>
      <xs:element type="GUTChannelMetricsType" name="InChannel" />
      <xs:element type="GUTChannelMetricsType" name="OutChannel" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GUTChannelMetricsType">
    <xs:sequence>
      <xs:element type="GUTMetricsContainerType" name="Tier1" />
      <xs:element type="GUTMetricsContainerType" name="Tier2" />
      <xs:element type="GUTMetricsContainerType" name="Tier3" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GUTMetricsContainerType">
    <xs:sequence>
      <xs:element type="GUTMetricsType" name="Concavity" />
      <xs:element type="GUTMetricsType" name="Convexity" />
      <xs:element type="GUTMetricsType" name="Planar" />
      <xs:element type="GUTMetricsType" name="TransitionZone" />
    </xs:sequence>
  </xs:complexType>

  <!--<xs:complexType name="GUTMetricsType">-->
  <!--<xs:complexContent>-->
  <!--<xs:extension base="xs:string">-->
  <!--<xs:attribute type="xs:string" name="name"/>-->
  <!--</xs:extension>-->
  <!--</xs:complexContent>-->
  <!--</xs:complexType>-->

  <xs:complexType name="GUTOutputsType">
    <xs:sequence>
      <xs:element type="GUTTierContainerType" name="Tier1" />
      <xs:element type="GUTTierContainerType" name="Tier2" />
      <xs:element type="GUTTierContainerType" name="Tier3" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GUTTierContainerType">
    <xs:sequence>
      <xs:element type="RasterType" name="Raster" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="VectorType" name="Vector" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>