Projects/XSD/V1/Innundation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:xsL="http://www.w3.org/2001/XMLSchema">

  <!-- This file contains all the things Riverscapes projects have in common -->
  <!-- IT MUST BE AN ABSOLUTE URI. You can make it temporarily reference a local path but don't commit it that way. -->
  <xs:include schemaLocation="http://xml.riverscapes.xyz/Projects/XSD/V1/RiverscapesProject.xsd" />

  <xs:element name="Project" type="ProjectType" />


  <!-- Top Leve item: Here's where the overall project gets extended -->
  <xs:complexType name="ProjectType" mixed="true">
    <xs:complexContent>
      <xs:extension base="ProjectBaseType">
        <xs:sequence>
        <xs:element type="RealizationsType" name="Realizations" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="RealizationsType">
    <xs:choice maxOccurs="unbounded">
      <xs:element type="InnundationContextType" name="InnundationContext" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="InnundationDCEType" name="InnundationDCE" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="InnundationCDType" name="InnundationCD" maxOccurs="unbounded" minOccurs="0" />
    </xs:choice>
  </xs:complexType>

  <!-- =========================================================================
  
  Project: Innundation
  
  ============================================================================== -->
  <xs:complexType name="InnundationContextType" mixed="true">
    <xs:complexContent>
      <xs:extension base="RealizationType">
        <xs:sequence>
          <xs:element type="DataSetContainerType" name="Inputs" minOccurs="0" />
          <xs:element type="AnalysesType" name="Analyses" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="InnundationDCEType" mixed="true">
    <xs:complexContent>
      <xs:extension base="RealizationType">
        <xs:sequence>
          <xs:element type="DataSetContainerType" name="Inputs" minOccurs="0" />
          <xs:element type="DataSetContainerType" name="Outputs" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="InnundationCDType" mixed="true">
    <xs:complexContent>
      <xs:extension base="RealizationType">
        <xs:sequence>
          <xs:element type="CDInputsType" name="Inputs" minOccurs="0" />
          <xs:element type="DataSetContainerType" name="Outputs" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="CDInputsType">
    <xs:sequence>
      <xs:element type="CDInputType" name="DCE1" maxOccurs="unbounded" minOccurs="1" />
      <xs:element type="CDInputType" name="DCE2" maxOccurs="unbounded" minOccurs="1" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CDInputType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="ref" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>


</xs:schema>