Projects/XSD/V1/RSContext.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:xsL="http://www.w3.org/2001/XMLSchema">

  <!-- This file contains all the things Riverscapes projects have in common -->
  <!-- IT MUST BE AN ABSOLUTE URI. You can make it temporarily reference a local path but don't commit it that way. -->
  <xs:include schemaLocation="http://xml.riverscapes.xyz/Projects/XSD/V1/RiverscapesProject.xsd" />
  <!-- <xs:include schemaLocation="./RiverscapesProject.xsd" /> -->

  <xs:element name="Project" type="ProjectType" />


  <!-- Top Leve item: Here's where the overall project gets extended -->
  <xs:complexType name="ProjectType" mixed="true">
    <xs:complexContent>
      <xs:extension base="ProjectBaseType">
        <xs:sequence>
        <xs:element type="RealizationsType" name="Realizations" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="RealizationsType">
    <xs:choice maxOccurs="unbounded">
      <xs:element type="RSContextType" name="RSContext" maxOccurs="unbounded" minOccurs="0" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="RSContextType" mixed="true">
    <xs:complexContent>
      <xs:extension base="RealizationType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element type="DEMType" name="DEM" minOccurs="1" maxOccurs="1" />
          <xs:element type="RasterType" name="Raster" />
          <xs:element type="SimpleFileType" name="SQLiteDB" />
          <xs:element type="VectorType" name="Vector" />
          <xs:element type="SimpleFileType" name="HTMLFile" />
          <xs:element type="GeopackageType" name="Geopackage" />
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

</xs:schema>