Projects/CHaMP/XSD/V1/Project.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
  attributeFormDefault="unqualified" 
  elementFormDefault="qualified" 
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
>

  <!-- =========================================================================
  
  Common Elements:
  - All projects must have the Following:
  
  ============================================================================== -->


  <!-- Top Leve item: Here's where the overall project gets Defined -->
  <xs:complexType name="ProjectType" mixed="true">
    <xs:sequence>
      <xs:element type="xs:string" name="Name" minOccurs="1" maxOccurs="1" />
      <xs:element type="xs:string" name="ProjectType" minOccurs="1" maxOccurs="1" />
      <xs:element type="MetaDataType" name="Warehouse" minOccurs="0" maxOccurs="1" />
      <xs:element type="MetaDataType" name="MetaData" minOccurs="1" maxOccurs="1" />
      <xs:element type="DataSetContainerType" name="Inputs" minOccurs="0" maxOccurs="1" />
      <xs:element type="RealizationsType" name="Realizations" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>

  <!-- A Project can have realizations -->
  <xs:complexType name="RealizationType" mixed="true">
    <xs:sequence>
      <xs:element type="xs:string" name="Name" minOccurs="1" maxOccurs="1" />
      <xs:element type="MetaDataType" name="MetaData" minOccurs="0" maxOccurs="1" />
      <xs:element type="ParametersType" name="Parameters" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="required" />
    <xs:attribute type="xs:boolean" name="promoted" use="optional" />
    <xs:attribute type="xs:string" name="dateCreated" use="required" />
    <xs:attribute type="xs:string" name="productVersion" use="required" />
    <xs:attribute type="xs:string" name="guid" />
  </xs:complexType>

  <!--Realizations Must have an Analyses-->
  <xs:complexType name="AnalysesType" mixed="true">
    <xs:sequence>
      <xs:element type="AnalysisType" name="Analysis" maxOccurs="unbounded" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>


  <!--Realizations Must have an Analysis-->
  <xs:complexType name="AnalysisType" mixed="true">
    <xs:sequence>
      <xs:element type="xs:string" name="Name" minOccurs="0" />
      <xs:element type="MetricsType" name="Metrics" minOccurs="0" />
      <xs:element type="DataSetContainerType" name="Outputs" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="MetaType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="MetaDataType">
    <xs:sequence>
      <xs:element type="MetaType" name="Meta" maxOccurs="unbounded" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ParamType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="ParametersType">
    <xs:sequence>
      <xs:element type="ParamType" name="Param" maxOccurs="unbounded" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="MetricType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="MetricsType">
    <xs:sequence>
      <xs:element type="MetricType" name="Metric" maxOccurs="unbounded" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <!-- =========================================================================
  
  Datasets: Inputs, Outputs, files etc....
  
  ============================================================================== -->

  <!-- Let's define our Input/Output Containers and what they can contain -->
  <xs:complexType name="DataSetContainerType">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <!-- A scalar value is possible as an input or an output but use <Params> if you can -->
      <xs:element type="xs:string" name="Value" />
      <xs:element type="RasterType" name="Raster" />
      <xs:element type="RasterType" name="Cover" />
      <xs:element type="RasterType" name="Substrate" />
      <xs:element type="RasterType" name="Velocity" />
      <xs:element type="RasterType" name="Depth" />
      <xs:element type="VectorType" name="Vector" />
      <xs:element type="VectorType" name="StreamNetwork" />
      <xs:element type="TINType" name="TIN" />
      <xs:element type="DEMType" name="DEM" />
      <xs:element type="HillShadeType" name="HillShade" />
      <xs:element type="SimpleFileType" name="CSV" />
      <xs:element type="SimpleFileType" name="Image" />
      <xs:element type="SimpleFileType" name="Video" />
      <xs:element type="SimpleFileType" name="DataTable" />
      <xs:element type="SimpleFileType" name="SurveyQualityDB" />
      <xs:element type="SimpleFileType" name="InstrumentFile" />
      <xs:element type="SimpleFileType" name="AuxInstrumentFile" />
      <xs:element type="SimpleFileType" name="Database" />
      <xs:element type="SimpleFileType" name="PDF" />

    </xs:choice>
  </xs:complexType>

  <!-- The base type  -->
  <xs:complexType name="DataSetType" mixed="true">
    <xs:sequence>
      <xs:element type="xs:string" name="Name" minOccurs="0" maxOccurs="1" />
      <!--Path is ALWAYS relative inside a project-->
      <xs:element type="xs:string" name="Path" minOccurs="0" maxOccurs="1" />
      <xs:element type="xs:string" name="Project" minOccurs="0" maxOccurs="1" />
      <xs:element type="MetaDataType" name="MetaData" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" />
    <xs:attribute type="xs:string" name="guid" />
    <xs:attribute type="xs:string" name="ref" />
  </xs:complexType>

  <!-- Now some Subtypes -->
  <xs:complexType name="GeoSpatialType">
    <xs:complexContent>
      <xs:extension base="DataSetType" />
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ContextLayerType" mixed="true">
    <xs:complexContent>
      <xs:extension base="DataSetType">
        <xs:sequence>
          <xs:element type="xs:string" name="URL" default="http://" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SimpleFileType">
    <xs:complexContent>
      <xs:extension base="DataSetType" />
    </xs:complexContent>
  </xs:complexType>

  <!-- Here are the GeoSpatial Types-->
  <xs:complexType name="RasterType">
    <xs:complexContent>
      <xs:extension base="GeoSpatialType" />
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TINType">
    <xs:complexContent>
      <xs:extension base="GeoSpatialType" />
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="VectorType">
    <xs:complexContent>
      <xs:extension base="GeoSpatialType" />
    </xs:complexContent>
  </xs:complexType>

  <!-- DEMs extend rasters -->
  <xs:complexType name="DEMType">
    <xs:complexContent>
      <xs:extension base="RasterType" />
    </xs:complexContent>
  </xs:complexType>

  <!-- Here are our context layers -->
  <xs:complexType name="HillShadeType">
    <xs:complexContent>
      <xs:extension base="ContextLayerType" />
    </xs:complexContent>
  </xs:complexType>



  <!-- =========================================================================
  
  Realizations: This is where things get custom for each type of thing.
  
  ============================================================================== -->

  <xs:complexType name="RealizationsType">
    <xs:choice maxOccurs="unbounded">
      <xs:element type="DoDType" name="DoD" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="CAD_ExportType" name="CAD_Export" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="SubstrateType" name="Substrate" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="VBETType" name="VBET" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="LandfireType" name="Landfire" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="EcoregionsType" name="Ecoregions" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="StreamStatsType" name="StreamStats" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="BRATInputsType" name="BRATInputs" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="BRATPrepType" name="BRATPrep" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="BRATRunType" name="BRATRun" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="NREIType" name="NREI" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="ConfinementType" name="Confinement" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="GUTType" name="GUT" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="GPPType" name="GPP" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="FHMType" name="FHM" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="RVDType" name="RVD" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="SolarType" name="Solar" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="ECType" name="EC" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="RCAType" name="RCA" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="HydroType" name="Hydro" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="HydroType" name="GRTS" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="GNATType" name="GNAT" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="StreamTemperatureType" name="StreamTemperature" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="SurveyDataType" name="SurveyData" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="TopographyType" name="Topography" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="CHaMPMetricsType" name="Metrics" maxOccurs="unbounded" minOccurs="0" />

      <xs:element type="GrainSizeType" name="GrainSize" maxOccurs="unbounded" minOccurs="0" />

      <xs:element type="QRFType" name="QRF" maxOccurs="unbounded" minOccurs="0" />
    </xs:choice>
  </xs:complexType>

  <!-- =========================================================================
  
  Project: VBET
  
  ============================================================================== -->

  <xs:complexType name="VBETType" mixed="true">
    <xs:complexContent>
      <xs:extension base="RealizationType">
        <xs:sequence>
          <xs:element type="VBETInputType" name="Inputs" minOccurs="0" />
          <xs:element type="VBETAnalysesType" name="Analyses" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="VBETInputType">
    <xs:sequence>
      <xs:element type="VBETInputTopographyType" name="Topography" />
      <xs:element type="VBETInputDrainageType" name="DrainageNetworks" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="VBETInputTopographyType">
    <xs:sequence>
      <xs:element type="DEMType" name="DEM" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="DEMType" name="Flow" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="DEMType" name="Slope" maxOccurs="unbounded" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="VBETInputDrainageType">
    <xs:sequence>
      <xs:element type="VBETInputDrainageNetworkType" name="Network" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="VBETInputDrainageNetworkType" mixed="true">
    <xs:complexContent>
      <xs:extension base="VectorType">
        <xs:sequence>
          <xs:element type="VBETBufferType" name="Buffers" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="VBETBufferType">
    <xs:sequence>
      <xs:element type="VectorType" name="Buffer" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="VBETAnalysesType">
    <xs:sequence>
      <xs:element type="VBETAnalysisType" name="Analysis" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="VBETAnalysisType">
    <xs:sequence>
      <xs:element type="xs:string" name="Name" />
      <xs:element type="DataSetContainerType" name="Outputs" />
    </xs:sequence>
  </xs:complexType>


  <!-- =========================================================================
  
  Project: NREI
  
  ============================================================================== -->

  <xs:complexType name="NREIType" mixed="true">
    <xs:complexContent>
      <xs:extension base="RealizationType">
        <xs:sequence>
          <xs:element type="DataSetContainerType" name="Inputs" minOccurs="0" />
          <xs:element type="AnalysesType" name="Analyses" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- =========================================================================
  
  Project: CHaMP Metrics
  
  ============================================================================== -->

  <xs:complexType name="CHaMPMetricsType" mixed="true">
    <xs:complexContent>
      <xs:extension base="RealizationType">
        <xs:sequence>
          <xs:element type="DataSetContainerType" name="Inputs" minOccurs="0" />
          <xs:element type="AnalysesType" name="Analyses" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- =========================================================================
  
  Project: Confinement
  
  ============================================================================== -->

  <xs:complexType name="ConfinementType" mixed="true">
    <xs:complexContent>
      <xs:extension base="RealizationType">
        <xs:sequence>
          <xs:element type="ConfinementInputType" name="Inputs" minOccurs="0" />
          <xs:element type="ConfinementOutputsType" name="Outputs" minOccurs="0" />
          <xs:element type="ConfinementAnalysesType" name="Analyses" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ConfinementInputType">
    <xs:sequence>
      <xs:element type="VectorType" name="ValleyBottom" />
      <xs:element type="VectorType" name="ChannelPolygon" />
      <xs:element type="VectorType" name="StreamNetwork" />
      <xs:element type="VectorType" name="SegmentedNetwork" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ConfinementAnalysesType">
    <xs:sequence>
      <xs:element type="ConfinementAnalysisType" name="MovingWindow" maxOccurs="unbounded" />
      <xs:element type="ConfinementAnalysisType" name="FixedSegments" maxOccurs="unbounded" />
      <xs:element type="ConfinementAnalysisType" name="ConfinementBySegments" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ConfinementAnalysisType">
    <xs:sequence>
      <xs:element type="xs:string" name="Name" />
      <xs:element type="ParametersType" name="Parameters" minOccurs="0" />
      <xs:element type="ConfinementAnalysisOutputsType" name="Outputs" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ConfinementOutputsType">
    <xs:sequence>
      <xs:element type="VectorType" name="ConfiningMargins" minOccurs="0" />
      <xs:element type="VectorType" name="RawConfiningState" minOccurs="0" />
      <xs:element type="FixedSegmentsType" name="FixedSegments" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ConfinementAnalysisOutputsType">
    <xs:sequence>
      <xs:element type="VectorType" name="Vector" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FixedSegmentsType">
    <xs:sequence>
      <xs:element type="ConfinementSegmentType" name="Segment" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ConfinementSegmentType">
    <xs:sequence>
      <xs:element type="xs:string" name="Name" />
      <xs:element type="VectorType" name="ConfinementSegments" />
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" />
  </xs:complexType>

  <!-- =========================================================================
  
  Project: GUT
  
  ============================================================================== -->
  <xs:complexType name="GUTType" mixed="true">
    <xs:complexContent>
      <xs:extension base="RealizationType">
        <xs:sequence>
          <xs:element type="DataSetContainerType" name="Inputs" minOccurs="0" />
          <xs:element type="GUTAnalysesType" name="Analyses" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GUTAnalysesType">
    <xs:sequence>
      <xs:element type="GUTEvidenceLayersType" name="EvidenceLayers" />
      <xs:element type="GUTMetricsType" name="Metrics" />
      <xs:element type="GUTOutputsContainerType" name="Outputs" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GUTEvidenceLayersType">
    <xs:sequence>
      <xs:element type="RasterType" name="Raster" />
      <xs:element type="VectorType" name="Vector" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GUTOutputsContainerType">
    <xs:sequence>
      <xs:element type="GUTOutputsType" name="InChannel" />
      <xs:element type="GUTOutputsType" name="OutChannel" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GUTMetricsType">
    <xs:sequence>
      <xs:element type="GUTChannelMetricsType" name="InChannel" />
      <xs:element type="GUTChannelMetricsType" name="OutofChannel" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GUTChannelMetricsType">
    <xs:sequence>
      <xs:element type="GUTMetricsContainerType" name="Tier1" />
      <xs:element type="GUTMetricsContainerType" name="Tier2" />
      <xs:element type="GUTMetricsContainerType" name="Tier3" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GUTMetricsContainerType">
    <xs:sequence>
      <xs:element type="GUTMetricsType" name="Concavity" />
      <xs:element type="GUTMetricsType" name="Convexity" />
      <xs:element type="GUTMetricsType" name="Planar" />
      <xs:element type="GUTMetricsType" name="TransitionZone" />
    </xs:sequence>
  </xs:complexType>

  <!--<xs:complexType name="GUTMetricsType">-->
  <!--<xs:complexContent>-->
  <!--<xs:extension base="xs:string">-->
  <!--<xs:attribute type="xs:string" name="name"/>-->
  <!--</xs:extension>-->
  <!--</xs:complexContent>-->
  <!--</xs:complexType>-->

  <xs:complexType name="GUTOutputsType">
    <xs:sequence>
      <xs:element type="GUTTierContainerType" name="Tier1" />
      <xs:element type="GUTTierContainerType" name="Tier2" />
      <xs:element type="GUTTierContainerType" name="Tier3" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GUTTierContainerType">
    <xs:sequence>
      <xs:element type="RasterType" name="Raster" />
      <xs:element type="VectorType" name="Vector" />
    </xs:sequence>
  </xs:complexType>


  <!-- =========================================================================
  
  Project: GCD
  
  ============================================================================== -->

  <xs:complexType name="DoDType" mixed="true">
    <xs:complexContent>
      <xs:extension base="RealizationType">
        <xs:sequence>
          <xs:element type="GCDInputType" name="Inputs" minOccurs="0" />
          <xs:element type="GCDAnalysesType" name="Analyses" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="GCDInputType">
    <xs:sequence>
      <xs:element type="VBETInputTopographyType" name="Topography" />
      <xs:element type="VBETInputDrainageType" name="DrainageNetworks" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GCDAnalysesType">
    <xs:sequence>
      <xs:element type="xs:string" name="Name" />
      <xs:element type="DataSetContainerType" name="Outputs" />
    </xs:sequence>
  </xs:complexType>


  <!-- =========================================================================
  
  Project: FHM
  
  ============================================================================== -->

  <xs:complexType name="FHMType" mixed="true">
    <xs:complexContent>
      <xs:extension base="RealizationType">
        <xs:sequence>
          <xs:element type="DataSetContainerType" name="Inputs" minOccurs="0" />
          <xs:element type="FHMAnalysesType" name="Analyses" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- FHM Analyses -->
  <xs:complexType name="FHMAnalysesType">
    <xs:sequence>
      <xs:element type="FHMAnalysisType" name="Analysis" maxOccurs="unbounded" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FHMAnalysisType">
    <xs:sequence>
      <xs:element type="xs:string" name="Name" />
      <xs:element type="FHMModelsType" name="Models" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FHMModelsType">
    <xs:sequence>
      <xs:element type="FHMHSIAnalysisType" name="FIS" />
      <xs:element type="FHMHSIAnalysisType" name="HSI" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FHMHSIAnalysisType">
    <xs:sequence>
      <xs:element type="xs:string" name="FISFile" minOccurs="0" />
      <xs:element type="MetaDataType" name="MetaData" />
      <xs:element type="DataSetContainerType" name="Outputs" />
      <xs:element type="MetricsType" name="Metrics" />
    </xs:sequence>
  </xs:complexType>

  <!-- =========================================================================
  
  Project: RVD
  
  ============================================================================== -->
  <xs:complexType name="RVDType" mixed="true">
    <xs:complexContent>
      <xs:extension base="RealizationType">
        <xs:sequence>
          <xs:element type="RVDInputs" name="Inputs" minOccurs="0" />
          <xs:element type="RVDAnalysesType" name="Analyses" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- RVD Inputs -->
  <xs:complexType name="RVDInputs">
    <xs:sequence>
      <xs:element type="RVDExistingVegetationType" name="ExistingVegetation" />
      <xs:element type="RVDHistoricVegetationType" name="HistoricVegetation" />
      <xs:element type="RVDDrainageNetworksType" name="DrainageNetworks" />
      <xs:element type="VectorType" name="ValleyBottom" />
      <xs:element type="VectorType" name="LargeRiverPolygon" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RVDExistingVegetationType" mixed="true">
    <xs:complexContent>
      <xs:extension base="RasterType">
        <xs:sequence>
          <xs:element name="ExistingCoverRasters">
            <xs:complexType>
              <xs:sequence>
                <xs:element type="RasterType" name="Raster" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="RVDHistoricVegetationType" mixed="true">
    <xs:complexContent>
      <xs:extension base="RasterType">
        <xs:sequence>
          <xs:element name="HistoricCoverRasters">
            <xs:complexType>
              <xs:sequence>
                <xs:element type="RasterType" name="Raster" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="RVDDrainageNetworksType" mixed="true">
    <xs:sequence>
      <xs:element name="Network">
        <xs:complexType mixed="true">
          <xs:complexContent>
            <xs:extension base="RasterType">
              <xs:sequence>
                <xs:element type="VectorType" name="ThiessenPolygons" />
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!--Analysis and Outputs-->
  <xs:complexType name="RVDAnalysesType">
    <xs:sequence>
      <xs:element type="RVDAnalysisType" name="Analysis" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RVDAnalysisType">
    <xs:sequence>
      <xs:element type="xs:string" name="Name" />
      <xs:element type="RVDOutputsType" name="Outputs" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RVDOutputsType">
    <xs:sequence>
      <xs:element type="VectorType" name="Vector" />
      <xs:element type="RasterType" name="Raster" />
    </xs:sequence>
  </xs:complexType>


  <!-- =========================================================================
  
  Project: Solar
  
  ============================================================================== -->
  <xs:complexType name="SolarType" mixed="true">
    <xs:complexContent>
      <xs:extension base="RealizationType">
        <xs:sequence>
          <xs:element type="DataSetContainerType" name="Inputs" minOccurs="0" />
          <xs:element type="SolarAnalysesType" name="Analyses" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SolarAnalysesType">
    <xs:sequence>
      <xs:element type="SolarAnalysisType" name="Analysis" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SolarAnalysisType">
    <xs:sequence>
      <xs:element type="DataSetContainerType" name="Outputs" />
    </xs:sequence>
  </xs:complexType>

  <!-- =========================================================================
  
  Project: EC
  
  ============================================================================== -->
  <xs:complexType name="ECType" mixed="true">
    <xs:complexContent>
      <xs:extension base="RealizationType">
        <xs:sequence>
          <xs:element type="DataSetContainerType" name="Inputs" minOccurs="0" />
          <xs:element type="AnalysesType" name="Analyses" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>



  <!-- =========================================================================
  
  Project: RCA
  
  ============================================================================== -->

  <xs:complexType name="RCAType" mixed="true">
    <xs:complexContent>
      <xs:extension base="RealizationType">
        <xs:sequence>
          <xs:element type="RCAInputs" name="Inputs" minOccurs="0" />
          <xs:element type="RCAAnalysesType" name="Analyses" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- RCA Inputs -->
  <xs:complexType name="RCAInputs">
    <xs:sequence>
      <xs:element type="RCAExistingVegetationType" name="ExistingVegetation" />
      <xs:element type="RCAHistoricVegetationType" name="HistoricVegetation" />
      <xs:element type="RCADrainageNetworksType" name="DrainageNetworks" />
      <xs:element type="VectorType" name="FragmentedValleyBottom" minOccurs="0" />
      <xs:element type="VectorType" name="LargeRiverPolygon" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RCAExistingVegetationType" mixed="true">
    <xs:complexContent>
      <xs:extension base="RasterType">
        <xs:sequence>
          <xs:element name="ExistingRasters">
            <xs:complexType>
              <xs:sequence>
                <xs:element type="RasterType" name="Raster" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="RCAHistoricVegetationType" mixed="true">
    <xs:complexContent>
      <xs:extension base="RasterType">
        <xs:sequence>
          <xs:element name="HistoricRasters">
            <xs:complexType>
              <xs:sequence>
                <xs:element type="RasterType" name="Raster" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="RCADrainageNetworksType" mixed="true">
    <xs:sequence>
      <xs:element name="Network">
        <xs:complexType mixed="true">
          <xs:complexContent>
            <xs:extension base="RasterType">
              <xs:sequence>
                <xs:element type="VectorType" name="ThiessenPolygons" />
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!--Analysis and Outputs-->
  <xs:complexType name="RCAAnalysesType">
    <xs:sequence>
      <xs:element type="RCAAnalysisType" name="Analysis" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RCAAnalysisType">
    <xs:sequence>
      <xs:element type="xs:string" name="Name" />
      <xs:element type="RCAOutputsType" name="Outputs" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RCAOutputsType">
    <xs:sequence>
      <xs:element type="VectorType" name="Vector" />
    </xs:sequence>
  </xs:complexType>

  <!-- =========================================================================
  
  Project: Hydro
  
  ============================================================================== -->

  <xs:complexType name="HydroType" mixed="true">
    <xs:complexContent>
      <xs:extension base="RealizationType">
        <xs:sequence>
          <xs:element type="DataSetContainerType" name="Inputs" minOccurs="0" />
          <xs:element type="AnalysesType" name="Analyses" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- =========================================================================
  
  Project: StreamTemperature
  
  ============================================================================== -->

  <xs:complexType name="StreamTemperatureType" mixed="true">
    <xs:complexContent>
      <xs:extension base="RealizationType">
        <xs:sequence>
          <xs:element type="DataSetContainerType" name="Inputs" minOccurs="0" />
          <xs:element type="AnalysesType" name="Analyses" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>



  <!-- =========================================================================
  
  Project: GNAT
  
  ============================================================================== -->
  <xs:complexType name="GNATType" mixed="true">
    <xs:complexContent>
      <xs:extension base="RealizationType">
        <xs:sequence>
          <xs:element type="DataSetContainerType" name="Inputs" minOccurs="0" />
          <xs:element type="GNATOutputsType" name="Outputs" minOccurs="0" />
          <xs:element type="GNATAnalysesType" name="Analyses" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="GNATOutputsType">
    <xs:sequence>
      <xs:element type="VectorType" name="GNATNetwork" />
      <xs:element type="VectorType" name="GNATNetworkTable" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GNATAnalysesType">
    <xs:sequence>
      <xs:element type="GNATAnalysisType" name="SegmentedNetwork" />
      <xs:element type="GNATAnalysisType" name="BranchNetwork" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GNATAnalysisType">
    <xs:sequence>
      <xs:element type="xs:string" name="Name" />
      <xs:element type="MetaDataType" name="MetaData" />
      <xs:element type="ParametersType" name="Params" />
      <xs:element type="GNATOutputsType" name="Outputs" />
    </xs:sequence>
  </xs:complexType>


  <!-- =========================================================================
  
  Project: GPP
  
  ============================================================================== -->
  <xs:complexType name="GPPType" mixed="true">
    <xs:complexContent>
      <xs:extension base="RealizationType">
        <xs:sequence>
          <xs:element type="GPPParametersType" name="GPPParameters" minOccurs="0" />
          <xs:element type="GPPInputsType" name="Inputs" minOccurs="0" />
          <xs:element type="GNATOutputsType" name="Outputs" minOccurs="0" />
          <xs:element type="AnalysesType" name="Analyses" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GPPParametersType">
    <xs:all>
      <xs:element type="ParametersType" name="CRB" />
      <xs:element type="ParametersType" name="Watershed" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="GPPInputsType">
    <xs:choice maxOccurs="unbounded">
      <xs:element type="GPPTemperatureModelType" name="TemperatureModel" />
      <xs:element type="VectorType" name="Vector" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="GPPTemperatureModelType" mixed="true">
    <xs:complexContent>
      <xs:extension base="VectorType">
        <xs:sequence>
          <xs:element type="VectorType" name="Vector" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- =========================================================================
  
  Project: GrainSize
  
  ============================================================================== -->
  <xs:complexType name="GrainSizeType" mixed="true">
    <xs:complexContent>
      <xs:extension base="RealizationType">
        <xs:sequence>
          <xs:element type="GrainSizeInputsType" name="Inputs" minOccurs="0" />
          <xs:element type="AnalysesType" name="Analyses" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="GrainSizeInputsType">
    <xs:choice maxOccurs="unbounded">
      <xs:element type="DEMType" name="DEM" />
      <xs:element type="VectorType" name="StreamNetwork" />
      <xs:element type="VectorType" name="Precipitation" />
      <xs:element type="VectorType" name="OtherValues" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="GrainSizeDEMsType">
    <xs:choice maxOccurs="unbounded">
      <xs:element type="DEMType" name="DEM" />
    </xs:choice>
  </xs:complexType>


  <!-- =========================================================================
  
  Project: QRF
  
  ============================================================================== -->
  <xs:complexType name="QRFType" mixed="true">
    <xs:complexContent>
      <xs:extension base="RealizationType">
        <xs:sequence>
          <xs:element type="DataSetContainerType" name="Inputs" minOccurs="0" />
          <xs:element type="GNATOutputsType" name="Outputs" minOccurs="0" />
          <xs:element type="QRFAnalysesType" name="Analyses" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="QRFAnalysesType">
    <xs:sequence>
      <xs:element type="AnalysisType" name="Analysis" />
    </xs:sequence>
  </xs:complexType>


  <!-- =========================================================================
  
  Project: Topo Toolbar
  
  This is a big one and it breaks a lot of the rules so be really careful with it.
  
  ============================================================================== -->

  <xs:complexType name="SurveyDataType" mixed="true">
    <xs:complexContent>
      <xs:extension base="RealizationType">
        <xs:sequence>
          <xs:element type="VectorType" name="Vector" minOccurs="1" maxOccurs="unbounded" />
          <xs:element type="TopoSurveyExtentsType" name="SurveyExtents" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
        <xs:attribute type="xs:boolean" name="projected" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TopoSurveyExtentsType">
    <xs:sequence>
      <xs:element type="SurveyExtentsVectorType" name="Vector" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>


  <xs:complexType name="TopographyType" mixed="true">
    <xs:complexContent>
      <xs:extension base="RealizationType">
        <xs:sequence>
          <xs:element type="TopoTINType" name="TIN" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TopoTINType" mixed="true">
    <xs:complexContent>
      <xs:extension base="GeoSpatialType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element type="DEMType" name="DEM" minOccurs="0" maxOccurs="1" />
          <xs:element type="RasterType" name="Detrended" minOccurs="0" maxOccurs="1" />
          <xs:element type="HillShadeType" name="DEMHillshade" minOccurs="0" maxOccurs="1" />
          <xs:element type="VectorType" name="Thalweg" minOccurs="0" maxOccurs="1" />
          <xs:element type="VectorType" name="ChannelUnitsField" minOccurs="0" maxOccurs="1" />
          <xs:element type="VectorType" name="ChannelUnits" minOccurs="0" maxOccurs="1" />
          <xs:element type="RasterType" name="WaterSurfaceDEM" minOccurs="0" maxOccurs="1" />
          <xs:element type="WaterSurfaceTINType" name="WaterSurfaceTIN" minOccurs="0" maxOccurs="1" />
          <xs:element type="RasterType" name="PointQuality3D" minOccurs="0" maxOccurs="1" />
          <xs:element type="RasterType" name="Roughness" minOccurs="0" maxOccurs="1" />
          <xs:element type="RasterType" name="WaterDepth" minOccurs="0" maxOccurs="1" />
          <xs:element type="AssocSurfacesType" name="AssocSurfaces" minOccurs="0" maxOccurs="1" />
          <xs:element type="TopoStagesType" name="Stages" minOccurs="0" maxOccurs="1" />
        </xs:choice>
        <xs:attribute type="xs:boolean" name="active" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="WaterSurfaceTINType" mixed="true">
    <xs:complexContent>
      <xs:extension base="GeoSpatialType">
        <xs:attribute type="xs:boolean" name="active" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AssocSurfacesType" mixed="true">
    <xs:all>
      <xs:element type="RasterType" name="Slope" minOccurs="1" maxOccurs="1" />
      <xs:element type="RasterType" name="PointDensity" minOccurs="1" maxOccurs="1" />
      <xs:element type="RasterType" name="InterpolationError" minOccurs="1" maxOccurs="1" />
      <xs:element type="RasterType" name="PointQuality3D" minOccurs="0" maxOccurs="1" />
      <xs:element type="RasterType" name="Roughness" minOccurs="0" maxOccurs="1" />
      <xs:element type="RasterType" name="ErrSurface" minOccurs="1" maxOccurs="1" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="TopoStagesType">
    <xs:sequence>
      <xs:element type="TopoStageVectorType" name="Vector" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TopoSurveyDataType">
    <xs:sequence>
      <xs:element type="VectorType" name="Vector" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TopoStageVectorType">
    <xs:complexContent>
      <xs:extension base="VectorType">
        <xs:attribute type="xs:string" name="stage" use="required" />
        <xs:attribute type="xs:string" name="type" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SurveyExtentsVectorType">
    <xs:complexContent>
      <xs:extension base="VectorType">
        <xs:attribute type="xs:string" name="active" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- =========================================================================
  
  Project: BRAT
  
  ============================================================================== -->

  <xs:complexType name="BRATInputsType" mixed="true">
    <xs:complexContent>
      <xs:extension base="RealizationType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element type="DEMType" name="DEM" minOccurs="1" maxOccurs="1" />
          <xs:element type="RasterType" name="Raster" />
          <xs:element type="VectorType" name="Vector" />
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BRATPrepType" mixed="true">
    <xs:complexContent>
      <xs:extension base="RealizationType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element type="DEMType" name="DEM" minOccurs="1" maxOccurs="1" />
          <xs:element type="RasterType" name="Raster" />
          <xs:element type="VectorType" name="Vector" />
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="BRATRunType" mixed="true">
    <xs:complexContent>
      <xs:extension base="RealizationType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element type="DEMType" name="DEM" minOccurs="1" maxOccurs="1" />
          <xs:element type="RasterType" name="Raster" />
          <xs:element type="VectorType" name="Vector" />
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- =========================================================================
  
  Project: National Landfire Datasets
  
  ============================================================================== -->

  <xs:complexType name="LandfireType" mixed="true">
    <xs:complexContent>
      <xs:extension base="RealizationType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element type="RasterType" name="Raster" />
          <xs:element type="SimpleFileType" name="CSV" />
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="EcoregionsType" mixed="true">
    <xs:complexContent>
      <xs:extension base="RealizationType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element type="VectorType" name="Vector" />
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="StreamStatsType" mixed="true">
    <xs:complexContent>
      <xs:extension base="RealizationType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element type="SimpleFileType" name="Database" />
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <!-- =========================================================================
  
  Project: CAD_Export
  
  ============================================================================== -->

  <xs:complexType name="CAD_ExportType" mixed="true">
    <xs:complexContent>
      <xs:extension base="RealizationType">
        <xs:sequence>
          <xs:element type="CAD_ExportInputsType" name="Inputs" minOccurs="0" />
          <xs:element type="DataSetContainerType" name="Outputs" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="CAD_ExportInputsType" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element type="VectorType" name="Breaklines" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="VectorType" name="Topo_Points" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="VectorType" name="TopoTin" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="VectorType" name="Survey_Extent" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="VectorType" name="Control_Points" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="VectorType" name="EdgeofWater_Points" maxOccurs="unbounded" minOccurs="0" />
    </xs:choice>
  </xs:complexType>


  <!-- =========================================================================
  
  Project: Substrate
  
  ============================================================================== -->

  <xs:complexType name="SubstrateType" mixed="true">
    <xs:complexContent>
      <xs:extension base="RealizationType">
        <xs:sequence>
          <xs:element type="DataSetContainerType" name="Inputs" minOccurs="0" />
          <xs:element type="DataSetContainerType" name="Outputs" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>



</xs:schema>